.carusel {
  display: grid;
  gap: 30px;
  background-color: #d7e8f891;
  padding: 50px 20px;
}
.carusel > list-view {
  width: 100%;
  overflow: hidden;
}
.carusel > .list-view > .list {
  display: flex;
  width: calc(5 / 3 * 100%);
  transition: all 2s;
  transform: translate(-20px);
}
.carusel .list > .card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: calc(100% / 5);
}
.carusel > .actions > .dots {
  display: flex;
  gap: 50px;
  justify-content: center;
  margin-bottom: 20px;
}
.carusel .dots > .dot {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
}
.carusel .dots > .dot.active {
  background-color: var(--primary-color);
  transform: scale(1.4);
}
.prev:hover,
.next:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
